################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EngineManager/obj
/EngineManager/bin/Debug
/EngineManager/.vs/EngineManager/v15
/.vs
